<div class='dgrid'>
  <%= image_tag("main_logo.svg", class: "img-fluid") %>
  <h3>
    Lari
  </h3>
  <hr class='hr-primary'/>
  <p class="text-justify">
    Divinità venerate dai Romani, specialmente nel culto privato presso il focolare domestico con Vesta e con i Penati. Il lare familiare vegliava sulle fortune della casa e a lui i membri della famiglia rendevano culto quotidiano, specialmente alle calende, none, idi. Secondo la leggenda, riportata solo da Ovidio, i L. furono due gemelli nati dalla ninfa Lara.
    Di origine etrusca, i L. erano in origine protettori della proprietà agraria, venerati nei crocicchi (compita) in una cappelletta (compitum), dove ogni anno si celebravano le Compitali o Larali. Dalla campagna e dall’interno della casa, il culto dei L. si estese nella città, dove si formarono associazioni cultuali private, collegia compitalicia, di solito delle classi sociali più basse, presiedute da magistri vici. Tali collegia, divenuti una forza temibile in tempo di lotte civili, sciolti nel 64 a.C. e poco dopo risorti, furono riorganizzati da Augusto che nel 7 a.C. aggiunse ai due L. di ogni compitum il Genio dell’imperatore. Vi furono anche altri L.: viales, protettori delle strade; permarini, custodi sulle vie del mare; militares, dei campi di battaglia. Anche il territorio dello Stato ebbe i suoi L.; ai Lares praestites fu consacrato un tempio sulla Via Sacra.
    Nell’arte romana, i L. sono raffigurati come giovanetti ricciuti, con tunica corta, cinta e alti calzari, in atto di danza, levando nella mano destra un rhytòn e protendendo nella sinistra la patera. Si conosce anche il tipo stante, in riposo, con cornucopia e patera, frutti o spighe. 
  </p>
  <br/>
  <span class='float-end'>
    <small>
      tratto da: TRECCANI - Enciclopedia on line
    </small>
  </span>
</div>
