<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header pb-5">
          <div class="modal-title">
            <%= image_tag("subscription_type_index_logo.png", class: "img-fluid") %>
          </div>
          <a class="modal-header-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <div class="modal-body pb-5">
          <div class="col-10 offset-1">
            <div id="<%= dom_id @subscription_type %>" class="scaffold_record">
              <h3 class="text-primary">
                <%= @subscription_type.name %>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<% end %>
